html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Euclid Circular A", "Poppins";
  background: #8367c5;
  color: #1a1a1a;
}

.banner,
h1,
button {
  transition: 0.6s;
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  background: url("https://img.freepik.com/premium-photo/education-distance-learning-e-learning-online-learning-are-all-types-personal-development_27634-789.jpg?size=626&ext=jpg&ga=GA1.2.1687540312.1675509732&semt=sph");
  background-size: 180%;
  background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
  transition: 0.5s;
}

.banner h1 {
  font-size: 50px;
  color: #f9f9f9;
}

.banner button {
  padding: 12px 36px;
  border-radius: 50px;
  border: 0;
  background: #221e6f;
  color: #f9f9f9;
  font-size: 18px;
  font-family: inherit;
}

.container {
  background: #ffffff;
  padding: 60px 15%;
}

h2 {
  font-size: 28px;
}